.Dtt_box{
  border-radius: 100%;
  
  }
  .box_two{
    background:linear-gradient(45deg, #FC575E 10%, #F7B42C 90%);
  }
  .boxButton{
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    position: relative;
    background: linear-gradient(90deg, rgba(57,55,62,1) 26%, rgba(54,73,108,1) 53%, rgba(28,35,47,1) 84%);
    background-size: 100% 100%;
    border-radius: 100px;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-family: "Source Code Pro";
  }
  .table_top_border{
    border-bottom: 2px solid #32ADCF !important;
  }
  

.box1{
  background-image:linear-gradient(90deg, rgba(57,55,62,1) 26%, rgba(54,73,108,1) 53%, rgba(28,35,47,1) 84%);
  border-radius: 20px;
 opacity: 0.9;
  background-position: cover;
  background-size: cover;
  background-position: bottom;
}