.Dtt_box{
    border-radius: 100%;
    
    }
  


.Account_success{
    justify-content: space-between;
}

.succse_badges{
     /* width: 10%;  */
    background-color: #00a0fe;
    vertical-align: middle;
    padding: 7px 12px;
    font-weight: 600;
    letter-spacing: .3px;
    border-radius: 30px;
    font-size: 12px;
}



.link_success_badges{

    background-color: #07052f;
    width: 5rem;
    vertical-align: middle;
    padding: 7px 12px;
    font-weight: 600;
    letter-spacing: .3px;
    border-radius: 30px;
    font-size: 12px;
}



.success-space-line{

    margin: 10px auto;
    background-color: #00ffe9;
    width: 100%;
    height: 1px;
}
.success-page-space-line{

    margin: 10px auto;
    background-color: #ffff;
    width: 100%;
    height: 1px;   
}

.Dashboard_boxButton {

    -webkit-appearance: none;
    border: 0;
    outline: 0;
    position: relative;
    background: linear-gradient(90deg, rgba(57,55,62,1) 26%, rgba(54,73,108,1) 53%, rgba(28,35,47,1) 84%);
    background-size: 100% 100%;
    border-radius: 100px;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-family: "Source Code Pro";
  

}

.question_mark  {
  
  
 
    text-align: center;
    
}

.question_mark p {

    color: white;
}

.question_mark p svg{

    width: 50px;
    height: 50px;
    color: white;
}




    .table_top_border{
      border-bottom: 2px solid #32ADCF !important;
    }
    


  .box1{

    border-radius: 20px;
    background-size: cover;
    background-position: bottom;
}